<h2>Por región</h2>
<hr>
<div class="row">
  <div id="region-list" class="col text-center py-2">
    <!-- SearchBox -->
    <button *ngFor="let region of regions"
      [ngClass]=" {'btn-outline-primary border-black text-uppercase':selectedRegion === region} "
      class="btn rounded-1 mx-2 bg-light" (click)="searchByRegion(region)">
      {{ region }}
    </button>

  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
